<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
<title>List of newsletter subscribers</title>
</head>

<body>
  <p><span><a href='${tg.url("/newsletter_list")}'>Back to list</a></span></p>
  
<div style="margin-left: 4em; margin-bottom: 2em; margin-top: 2em">
  ${tmpl_context.widget(value)}
</div>
</body>
</html>
