<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
<title>Sign up for our newsletter</title>
</head>

<body>
<div>
  ${tmpl_context.widget(value, action=tg.url('/post_newsletter'))}
  <!-- NOTE the action=... bit in our template code above. This is what tells the Sprox widget
  to post to another URL: by default it posts back to this page!!! -->
</div>
</body>
</html>
